<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>
<body>
    
    <!-- include partial view with parameteter -->
    <%- include('partials/header', {title, pageName: 'Home'})%>


    <div>
        <%-content %>
        <br>
        <ul>
            <!-- <li>one</li>
            <li>two</li>
            <li>three</li> -->

            <% for(let i = 0; i < fruits.length ; i++){ %>
                <li> <%=fruits[i]%> </li>
            <%}%>
        </ul>
    </div>
    
    <%- include('partials/footer')%>

</body>
</html>