<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>
<body>
    <fieldset>
        <h1>this is Header</h1>
    </fieldset>
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates esse soluta ducimus dolorem aperiam! Laborum eos, et assumenda, quibusdam cupiditate quisquam quis aspernatur atque quod soluta incidunt inventore animi natus.
    </div>
    <fieldset>
        <h2>Footer</h2>
    </fieldset>

    <script src="../app.js"></script>
</body>
</html>